# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/*node_modules
**/*.pnp
**/*.pnp.js

# testing
**/*coverage

# buid stats
**/*stats

# production
**/*build
**/*dist

# misc
**/*.DS_Store

# env files
**/*.env

# Don't ignore example files
!.env.example
!.env.template

# IntelliJ
.idea/

# debug logs
**/*npm-debug.log*
**/*yarn-debug.log*
**/*yarn-error.log*
lerna-debug.log

